body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  font-weight: bold;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

p {
  font-size: 100%;
  line-height: 30px;
}

.line1 {
  border-top: 9px dotted;
  border-bottom: 0;
  margin: 100px auto;
  width: 5%;
  border-color: #e3fdfd;
}

.line2 {
  border-top: 9px dotted;
  border-bottom: 0;
  width: 5%;
  border-color: #e3fdfd;
  margin: 200px auto auto auto;
}

.topcontainer {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto 100px auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.running-img {
  width: 50%;
  float: right;
  margin-right: 0;
}

.contact-message {
  width: 40%;
  margin: 50px auto;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #11999E, #0f888c);
  background-image: -moz-linear-gradient(top, #11999E, #0f888c);
  background-image: -ms-linear-gradient(top, #11999E, #0f888c);
  background-image: -o-linear-gradient(top, #11999E, #0f888c);
  background-image: -webkit-gradient(to bottom, #81d3d6, #94e8eb);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  border: solid #11999E 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 30px auto 0 auto;
}

.btn:hover {
  background-image: -webkit-linear-gradient(top, #08bbc2, #08bbc2);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
  padding-bottom: 30px;
}

a {
  color: #11999E;
  margin: auto 20px auto 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #eaf6f6;
}

.footer-text {
  font-size: 75%;
  padding: 20px 0;
  color: #e3fdfd;
}
