/* commom Style sets */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Baloo Da 2",  cursive;
}

html {
    font-size: 62.5% ;
}
/* End of Common Style Sets */

/* Navbar */
.navbar {
    width: 100%;
    height: 8rem;;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 10;;
    padding: 3rem;
    top:-8rem;
    transition: height 0.5s;
    animation: navbarAnimation 1s 0.5s forwards;
}

@keyframes navbarAnimation {
    0% {
        top:-8rem 
    }

    100% {
        top:0;
    }
}
.navbar.change {
    height: 100vh;
}

.logo {
    position: absolute;
    top:1.5rem;
    left: 4rem;
}
.logo a {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #eee;
    font-weight: bolder;
}
.logo span {
    font-size: 3.5rem;
    font-family: "MADE Soulmaze", sans-serif;
    color: #9e0e09;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}
.nav-list {
  position: absolute; 
  display: flex;
  flex-direction: column;
  top:25%;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.change .nav-list {
    visibility: visible;
    opacity: 1;
    transition: all 0.7s 0.5s;
}
.nav-link {
    font-family: "MADE Soulmaze", sans-serif;
    color: #eee;
    font-weight: 800;;
    font-size: 3rem;
    line-height: 7rem;
    transition: color 0.4s;
}
.nav-link:hover {
    color: #9e0e09;
}


/* End of navbar */

/* menu */
.menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    z-index: 100;
    top:2rem;
    right:4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: #eee;
}
.line-1 {
    width:50%;
    transition: transform 0.5s;
}
.change .line-1 {
    transform: translate(100%, 1rem) rotate(-35deg);
    transform-origin: right;
    transition: transform 0.5s;
}
.line-3 {
    width: 50%;
    margin-left: auto;
    transition: transform 0.5s;
 
}
.change .line-3 {
    transform: translateY(-1rem) rotate(35deg);
    transform-origin: right;
    transition: transform 0.5s;
}
/* End Of Menu */

/* section-1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background: url(images/dark-bg.jpeg) 
    no-repeat;
    background-size: cover;
    position: relative;
}

.banner {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.banner-heading {
    margin-bottom: 4rem;
    height: 20rem;
}
.banner-heading span{
    font-family: "Oswald", sans-serif;
    font-size: 12rem;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.6rem #000;
    text-transform:uppercase;
    font-weight: 400;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateZ(8rem);
    letter-spacing: 3rem;
    opacity: 0;
}

.heading-1 {
    animation: animateHeading 12s 3s infinite;
} 
.heading-2 {
    animation: animateHeading 12s 6s infinite;
}
.heading-3 {
    animation: animateHeading 12s 9s infinite;
}
.heading-4 {
    animation: animateHeading 12s 12s infinite;
}
@keyframes animateHeading {
    0% {
        transform: translateZ(8rem);
        letter-spacing: 3rem;
        opacity: 0;
    }

    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    28% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    100% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}
.banner-paragraph {
    font-size: 2.6rem;
    color: #fff;;
    margin: 2rem auto;
    width: 30%;
    background-color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    padding: 1rem 0.25rem;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,0.6);
    opacity: 0;
    animation: fadeAnimation 1s 1.5s forwards;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner-btn {
    background: linear-gradient(to right, #9b0e0e, #7a1010);
    border: 0.1rem solid #800505;
    font-size: 2rem;
    width: 25rem;
    height: 5rem;
    border-radius: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.1rem 0.2rem rgba(0,0,0,0.4);
    box-shadow: 1rem 2rem 3rem rgba(0,0,0,0.6);
    cursor: pointer;
    opacity: 0;
    animation: fadeAnimation 1s 3s forwards;
    position: relative;
    overflow: hidden;
}
.banner-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, 
    transparent);
    position: absolute;
    transform: skewX(-45deg);
    top:0;
    left: -100%;
    transition: left 0.5s;

}
.banner-btn:hover::before {
    left: 100%;
}
/* End of Section-1 */

/* section-2  */
.section-2 {
    height: 100vh;
    width: 100%;
    background-color: #222020;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10rem ;
}
.section-heading {
    font-family: "Oswald", sans-serif;
    font-size: 7rem;
    color: #eee;
    margin-right: 3rem;
}
.section-heading-line {
    height: 0.3rem;
    width: 14rem;;
    background-color: #eee;
}
.video-wrapper {
    height: 40rem;
    width:80rem;
    position: absolute;
    top: 3rem;
    right: 10rem;;
    box-shadow: 3rem 3rem 3rem rgba(0,0,0,0.6);
    overflow: hidden;
}
.controls {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom:0;
    transform: translateY(calc(100% - 0.7rem));
    transition: transform 0.4s;
}
.video-wrapper:hover .controls {
    transform: translateY(0);
}
.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: opacity 0.3s;
}
.video-bar-wrapper {
    width: 100%;
    background-color:#000;
    height: 0.7rem;
    position: absolute;
    top:0;
}
.video-bar {
    height: 0.7rem;
    width: 0;
    background-color: #d30819;
    transition: width 1s;
}
.buttons {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}
.buttons button {
    background: none;
    border: none;
    cursor: pointer;
}
.buttons i {
    font-size: 2rem;
    color: #fff;
}
.section-2-paragraph {
    position: absolute;
    width: 80rem;
    bottom: 4rem;
    right: 10rem;
    line-height: 1.5;
    font-size: 1.8rem;
    color:#aaa;
    border-top: 0.3rem double #aaa ;
    border-bottom: 0.3rem double #aaa;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-shadow: 1rem 2rem 2rem rgba(0,0,0,0.6);
}

.fa-quote-left {
    align-self: flex-start;
    font-size: 3.5rem;
    margin-bottom: 2rem;
} 
.fa-quote-right {
    align-self: flex-end;
    font-size: 3.5rem;
    margin-top: 2rem;
}

/* end of section-2 */

/* section-3 */
.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #03070e;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}
  
.pricing-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}
  
.pricing-card {
    width: 28rem !important;
    height: 45rem !important;
    background-color: #181b1d;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
}
  
.pricing-card-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.pricing-card-heading {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    border-radius: 1rem 1rem 0 0;
}
  
.heading-free {
    background: linear-gradient(to right, #087285, #0da5d3);
}
  
.heading-basic {
    background: linear-gradient(to right, #946809, #bdba0e);
}
  
.heading-standard {
    background: linear-gradient(to right, #a10c14, #e23b3b);
}
.heading-premium {
    background: linear-gradient(to right, #0b7e48, #3be286);
}
  
.pricing-card-price {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 7rem;
    font-weight: 300;
    color: #fff;
}
  
.pricing-card-list li {
    margin-bottom: 0.5rem;
}
  
.pricing-card-list i {
    font-size: 1.8rem;
    width: 3rem;
}
  
.pricing-card-list span {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
  
.list-free {
    color: #0da5d3;
}
  
.list-basic {
    color: #bdba0e;
}
  
.list-standard {
    color: #e23b3b;
 }
  
.list-premium {
    color: #3be286;
}
  
.pricing-card-btn {
    width: 18rem;
    height: 5rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}
  
.btn-free {
    background-color: #0da5d3;
}
  
.btn-basic {
    background-color: #bdba0e;
}
  
.btn-standard {
    background-color: #e23b3b;
}
  
.btn-premium {
    background-color: #3be286;
}
  
.pricing-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border-radius: 1rem;
}
  
.pricing-card-back a {
    font-size: 2.5rem;
    color: #fff;
}
  
.back-free {
    background: linear-gradient(to right, #087285, #0da5d3);
}
  
.back-basic {
    background: linear-gradient(to right, #946809, #bdba0e);
}
  
.back-standard {
    background: linear-gradient(to right, #a10c14, #e23b3b);
}
  
.back-premium {
    background: linear-gradient(to right, #0b7e48, #3be286);
}
  
/* end of section-3 */